<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 (click)="changeImage('')">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="{{imagePath}}">
</div>
<h2 (click)="changeImage('boom')">vesssels </h2>
<h2 (click)="toggleMugs()">mugs </h2>
<h2 (click)="toggleBowls()">bowls </h2>
<h2 (click)="toggleTeabowls()">teabowls </h2>

<div *ngIf="showMugs">
<div *ngFor="let mug of mugs">
  <img width="300" alt="Angular Logo" src="{{mug}}">
</div>
</div>



<div *ngIf="showBowls">
<div *ngFor="let bowl of bowls">
  <img width="300" alt="Angular Logo" src="{{bowl}}">
</div>
</div>


<div *ngIf="showTeabowls">
  <div *ngFor="let teabowl of teabowls">
    <img width="300" alt="Angular Logo" src="{{teabowl}}">
  </div>
  </div>